<!DOCTYPE html>
<html>
  <head>
    <title>Fun Facts Generator</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles/main.css" />
    <!-- <noscript><link rel="stylesheet" href="static/styles/noscript.css" /></noscript> -->
  </head>
  <body>
    <div id="main">
      <a href="/menu"><i class="backButton icon solid tooltip fa-arrow-left"></i></a>
    </div>
      <h1>Knowledge Acquisition Center</h1>
    <div class="Anime">
      <br>
      <br>
      <br>
      <p id="about"></p>
      <br>
      <p id="fact"></p>
      <script>
        function displayFact() {
            document.getElementById("about").innerHTML= "{{about}}"
            document.getElementById("fact").innerHTML= "{{fact}}"
        }
      </script>
      <h3>Press the button below for a random fact!</h3>
      <br>
      <br>
      <button class="button pulseBox button3" onclick="displayFact()">Get Fact</button>
      <br>
      <br>
      <p><button class="button pulseBox button3" onclick="history.go(0);">Reset</button></p>
    </div>
  </body>
</html>
