<!DOCTYPE html>
  <html>
    <head>
      <title>Random Article Generator</title>
      <link rel="stylesheet" href="static/styles/main.css" />
    </head>
    
    <body onLoad="getStory()">
      <div id="menu_bg"></div>
        <div id="main">
          <a href="/menu"><i class="backButton icon solid tooltip fa-arrow-left"></i></a>
      
        <header id="header">
          <h1 class="neon">Random Article Generator</h1>
            <h2 class="greenText">Press either button below to generate some stories!</h2>
            <div class="container1 article-container">
                <p id="demo2"></p>
                <p id="demo"></p>
            </div>
            <button class="jokeButton pulseBox button3" onclick="getStory()">Random Story</button>
            <button class="jokeButton pulseBox button3" onclick="getPopular()">Popular Story</button>
            <br></br>
            <button class="button" onClick="history.go(0);">Generate New Stories!</button>
        </header>    
        </div>
    <script>
         function getStory() {
             document.getElementById("demo").innerHTML= "{{rand_url}}"
             document.getElementById("demo2").innerHTML= "{{rand_story}}"
         }
         function getPopular() {
             document.getElementById("demo").innerHTML= "{{pop_url}}"
             document.getElementById("demo2").innerHTML= "{{pop_story}}"
         }
        </script>
    </body>
</html>
