<!DOCTYPE html>
<html>
 <head>
   <title>Random NYT Article Generator</title>
    <link rel="stylesheet" href="static/styles/main.css" />
     <style>
       p.prompt {
           font-size:normal;
           text-align:center;
           margin: 5px dashed #333333;
       }
       h1 {
           font-size:small;
           text-align:center;
           margin: 10px  #cf7363;
           padding: 10px;
           text-transform:underline;
           
       }
     </style>
 </head>
    <body>
      <a href="http://192.168.0.29:5000/">Home</a>
      <h1>Generate articles from the New York Times</h1>
    <div class="Anime">
        <p class="prompt">Press either button below to generate some stories!</p>
        <p id="demo"></p>
        <p id="demo2"></p>
        <script>
         function getStory() {
             document.getElementById("demo").innerHTML= "{{rand_url}}"
             document.getElementById("demo2").innerHTML= "{{rand_story}}"
         }
         function getPopular() {
             document.getElementById("demo").innerHTML= "{{pop_url}}"
             document.getElementById("demo2").innerHTML= "{{pop_story}}"
         }
        </script>
        <br>
          <button onclick="getStory()">Random Story</button>
          or
          <button onclick="getPopular()">Popular Story</button>
          <br>
          <br>
          <br>
         <button class="button" onClick="history.go(0);">Generate New Stories!</button>
        <p id='footer'><i>We hope you enjoyed these stories! More to come...!</i></p>
    </div>
    </body>
</html>
